* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    width: 100%;
    background-color: rgb(216, 119, 219);
    color: black;
    font-weight: bold;
    font-size: 17px;
    border: none;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
}

img {
    width: 500px;
    height: 500px;
}